#bottom-toolbar .dx-toolbar.mdl-player-toolbar .dx-button {
    border-radius: 6px;
}

#bottom-toolbar .dx-toolbar.mdl-player-toolbar .slider {
    min-width: 220px;
}

.mdl-player-toolbar .dx-button.dx-state-selected .dx-icon {
    color: #0f6cbd;
}

.mdl-player-toolbar .dx-slider-bar {
    height: 4px;
    margin-top: 11px;
    background: #bdbdbd;
}

.mdl-player-toolbar .dx-slider-bar .dx-slider-range {
    height: 4px;
}

.mdl-player-toolbar .dx-slider-handle {
    margin-top: -6px;
}

.mdl-player-toolbar .dx-slider-bar .mdl-slider-calculated {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 2px;
    background: #bdbdbd;
    pointer-events: none;
}

@media (max-width: 900px) {
    #bottom-toolbar .dx-toolbar.mdl-player-toolbar .slider {
        min-width: 140px;
    }
}
